<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ours">

    <!-- La permission INTERNET doit être déclarée ici, en dehors de <application> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ours"
        android:theme="@style/Theme.Ours">

        <!-- Ajout de android:exported pour spécifier explicitement l'exportation de l'activité -->
        <activity android:name=".MainActivity"
            android:exported="true"> <!-- Ajout de l'attribut android:exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
